* {
  box-sizing: border-box;
}

body {
  background-color: #0a070b;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

.game-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  width: 100vw;
}

canvas {
  border: 4px solid #b20ee8;
  border-radius: 8px;
  background-color: #c929ff;
}

.btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}

button {
  background-color: #a0e80e;
  border-radius: 8px;
  border-color: #699c03;
  font-family: inherit;
  font-size: 18px;
  padding: 5px 20px;
  width: 140px;
  font-weight: 600;
}

button:not(:last-child) {
  margin-right: 20px;
}

.messages {
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

p {
  display: inline;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: #c929ff;
}

p:nth-child(2) {
  margin: 0 20px;
}

span {
  font-weight: normal;
  color: #a0e80e;
}

@media (max-width: 440px) {
  button {
    margin-top: 5px;
  }
  #up,
  #down {
    margin-left: 100%;
    margin-right: 100%;
  }
}
